:root {
  --bodycolor: #f5f5f5;
  --light-green: #eefbf4;
  --menucolor: #a8b2c8;
  --white: #fff;
  --green: #25c16f;
  --red: #e03338;
  --lightwhite: #fcfbfe;
  --shadow: #f4f4f2;
  --dark: #414649;
  --titlecolor: #404b51;
  --brown: #aba17d;
  --bordergreen: #d3f3e2;
  --box-shadow: #dee6e2;
  --light-shadow: #eaeaea;
  --dark-hover: #373c3f;
  --p-light: #797f83;
  --footer-link: #808e91;
  --dark-light: #51575b;
  --listing-bg: #a8e5c4;
  --light-gray: #c4c4c4;
  --bordercolor: #dee2e6;
  --yellow: #f7aa23;
  --dot-circle: #cecece;
  --transitionslow: all 0.3s ease-in-out;
}
/* for colors */
.green,
h2 span {
  color: var(--green);
}
body {
  background-color: var(--white);
  font-family: var(--fontfamilyregular);
  font-size: 16px;
  line-height: 1.4;
  left: 0;
  right: 0;
  top: 0;
}
a {
  color: var(--titlecolor);
}
/* font */
* {
  font-family: "Roboto";
}
/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}

body {
  overflow-x: hidden;
}
/* container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  #app .container,
  .banner-custom {
    margin: 0 auto;
    max-width: 1350px;
    padding: 0 15px;
  }
}

/* utils */
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.border-0 {
  border: 0 !important;
}
.overflow-hidden {
  overflow: hidden;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.text-center {
  text-align: center !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
/* for all */
a:hover {
  color: var(--green);
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.8rem;
  color: var(--titlecolor);
  font-weight: bold;
}
.table thead th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a {
  color: var(--theme-color);
  background-color: transparent;
  transition: all 0.5s ease;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--titlecolor);
  line-height: 24px;
  opacity: 0.8;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* @media for all <> size */
h1 {
  font-size: 50px;
  line-height: 50px;
  font-family: var(--fontfamilybold);
  color: var(--dark);
  letter-spacing: -1.5px;
}
h2 {
  font-size: 32px;
  line-height: 1.2;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .blockElement p,
  ul li {
    font-size: 14px;
    line-height: 22px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 575px) {
  .left-block h1,
  h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px;
  }
  h2 {
    font-size: 20px;
    line-height: 27px;
  }
  h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1199px) {
  h4 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1366px) {
  h1 {
    font-size: 50px;
  }
}

/* about us */
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
section.blockElement.mainBanner {
  padding: 40px 0;
  background-color: var(--bodycolor);
}
section.blockElement.circle_Img:after,
section.blockElement.circle_Img:before {
  position: absolute;
  content: "";
  opacity: 0.5;
  border: 41px solid var(--white);
  box-sizing: border-box;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  right: -60px;
  top: -40px;
}
section.blockElement.circle_Img:after {
  right: inherit;
  left: -140px;
  top: inherit;
  bottom: -150px;
}
.circle_Img .container {
  position: relative;
  z-index: 99;
}
@media (min-width: 768px) {
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important;
  }
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
ul.customtabs-list li {
  padding: 0 20px;
}
ul.customtabs-list li a {
  font-weight: bold;
  padding: 9px 0 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 18px;
}
ul.customtabs-list li a.active:before {
  position: absolute;
  content: "";
  background: var(--green);
  bottom: 0;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

@media only screen and (max-width: 1650px) {
  h1,
  h1.cloudbefore {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
section.blockElement.mainBanner .container,
section.blockElement.mainBanner .container .row {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .mb-4 {
    margin-bottom: 10px !important;
  }
}
@media only screen and (max-width: 575px) {
  ul.customtabs-list li a {
    font-size: 12px;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 575px) {
  .left-block h1,
  h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  section.blockElement.mainBanner .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
/* ////////////bg-white////////////// */
.p-3 {
  padding: 1rem !important;
}
.customHover {
  transition: all 0.5s ease;
  border-radius: 0;
  height: 100%;
}
.bg-white {
  background-color: #fff !important;
}
section.blockElement {
  padding: 60px 0;
  position: relative;
}
section.blockElement.aboutUsPage-new {
  padding-bottom: 150px;
}
@media (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}
@media only screen and (max-width: 767px) {
  section.blockElement.aboutUsPage-new {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  section.blockElement {
    padding: 30px 0;
  }
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
/* ////////////themeBG////////////// */
.card.customHorizontal.customHover {
  margin: 0;
}
.aboutDes .card.customHorizontal {
  box-shadow: 0 5px 15px rgb(0 0 0/5%);
}
.themeBG {
  background: var(--bodycolor);
}
.aboutDes .topNegative {
  margin-top: -100px;
}

.card.customHorizontal.customHover {
  min-height: inherit;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 15px;
  height: 100%;
}
.account-type,
.card.customHorizontal,
.cardBG .card,
.listResult li {
  border: 1px solid var(--bordercolor) !important;
}
.card.customHorizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 160px;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.customHover:after {
  content: "";
  height: 4px;
  width: 0;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: var(--green);
  transition: width 0.2s ease-in-out;
}
.customHover:hover:after {
  width: 100%;
}
.card-title {
  transition: all 0.2s ease-in-out;
}
.customHover:hover .card-title {
  color: var(--green);
}
@media only screen and (max-width: 767px) {
  .customHover {
    min-height: inherit;
  }
  .card.customHorizontal.customHover {
    min-height: auto;
    margin: 0;
  }
  .aboutDes .topNegative {
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .customHover {
    min-height: 260px;
  }
}
@media (min-width: 768px) {
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .customHover:hover:after {
    width: 100%;
  }
}
.card-img-custom-about {
  width: 50px;
  margin-bottom: 15px;
}
/* ////////last//////// */
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.snake-timeline li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.snake-timeline .mediaImg,
.snake-timeline .rightCon {
  min-height: 147px;
  box-shadow: 0 0 20px rgb(0 0 0/5%);
  position: relative;
}
.snake-timeline .mediaImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  margin: 0 0 30px;
  background: rgb(253 255 253);
  border: 1px solid rgb(208 235 219);
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.snake-timeline .mediaImg:before,
.snake-timeline .rightCon:before {
  position: absolute;
  background: var(--dot-circle);
  content: "";
  width: 9px;
  height: 9px;
  right: 10px;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.snake-timeline .rightCon {
  background: var(--white);
  border-radius: 8px;
  padding: 20px 20px 20px 40px;
  width: 100%;
  margin: 0 0 30px 10px;
}
.snake-timeline .rightCon:before {
  right: inherit;
  left: 10px;
}
.snake-timeline .rightCon h3 {
  font-size: 24px;
}
.snake-timeline .rightCon p.dot {
  padding-left: 18px;
}

.snake-timeline .rightCon p {
  font-size: 18px;
  margin: 0 0 2px;
  position: relative;
}
.snake-timeline .rightCon p.dot:before {
  position: absolute;
  content: "";
  background: var(--titlecolor);
  width: 7px;
  height: 7px;
  left: 0;
  top: 8px;
  border-radius: 50%;
}
.snake-timeline .rightCon:after {
  position: absolute;
  content: "";
  background: var(--dot-circle);
  width: 31px;
  height: 1px;
  left: -31px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .snake-timeline .mediaImg {
    width: 75px;
  }
  .snake-timeline .rightCon:after {
    width: 11px;
    left: -11px;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .snake-timeline .mediaImg img {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .mediaImg img {
    object-fit: contain;
  }
}
@media (max-width: 991px) {
  .snake-timeline .rightCon p {
    font-size: 14px;
  }
}
