:root {
  --bodycolor: #f5f5f5;
  --light-green: #eefbf4;
  --menucolor: #a8b2c8;
  --white: #fff;
  --green: #25c16f;
  --red: #e03338;
  --lightwhite: #fcfbfe;
  --shadow: #f4f4f2;
  --dark: #414649;
  --titlecolor: #404b51;
  --brown: #aba17d;
  --bordergreen: #d3f3e2;
  --box-shadow: #dee6e2;
  --light-shadow: #eaeaea;
  --dark-hover: #373c3f;
  --p-light: #797f83;
  --footer-link: #808e91;
  --dark-light: #51575b;
  --listing-bg: #a8e5c4;
  --light-gray: #c4c4c4;
  --bordercolor: #dee2e6;
  --yellow: #f7aa23;
  --dot-circle: #cecece;
  --transitionslow: all 0.3s ease-in-out;
}
body,
a {
  color: var(--titlecolor);
}
/* font */
* {
  font-family: "Roboto";
}
/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
/* container */

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 768px) and (max-width: 768.5px) {
  .container {
    max-width: 690px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768.5px) and (max-width: 1200.5px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* mainBaner */
.mainBaner {
  background-color: var(--bodycolor);
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}
.mainBaner:after,
.mainBaner:before {
  position: absolute;
  content: "";
  opacity: 1;
  border: 41px solid var(--white);
  box-sizing: border-box;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  right: -60px;
  top: -40px;
}
.mainBaner:after {
  right: inherit;
  left: -140px;
  top: inherit;
  bottom: -150px;
}
/* toggle */
.customtabs-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .customtabs-list {
    margin-bottom: 4rem;
  }
}
.customtabs-list li {
  margin: 0 20px;
}
.customtabs-list a {
  display: block;
  padding: 9px 0 19px;
  transition: var(--transitionslow);
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
}
@media screen and (min-width: 575px) {
  .customtabs-list a {
    font-size: 14px;
  }
}
@media screen and (min-width: 990px) {
  .customtabs-list a {
    font-size: 18px;
  }
}
.customtabs-list a:hover {
  color: var(--green);
}

.customtabs-list li a.active:before {
  position: absolute;
  content: "";
  background: var(--green);
  bottom: 0;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
}
/*  */
.mainBaner h1 {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 991px) {
  .mainBaner h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 991px) {
  .mainBaner h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mainBaner h1 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 575px) {
  .mainBaner h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px;
  }
}
.aboutText p {
  text-align: center;
  opacity: 0.8;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 1rem;
}
/* bg-white */
.bg-white {
  border: 1px solid;
  padding: 30px 0;
}
.bg-white img {
  max-width: 100%;
}
.abt-1 h2 {
  font-size: 20px;
  margin-bottom: 12px;
}
.abt-1 span {
  color: var(--green);
}

@media screen and (min-width: 768.5px) {
  .abtContent {
    display: flex;
  }
}
